/**
 * Created by Royal PR (Paul Burilichev) on 05-Aug-16.
 */

@import "variables";
@import "mixins";
@import "helper_styles";
@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";


// icon-font
@include font-face('Icons', 'fonts/icons', normal, normal, $file-formats: eot woff2 woff otf svg);

html {
  font-family: $helvetica;
  font-size: $em-base;
  line-height: modular-scale(1);
  background-color: $pageGreyBackground;
  @include word-wrap(normal);


  h1 { @extend .h1; }
  h2 { @extend .h2; }
  h3 { @extend .h3; }
  h4 { @extend .h4; }
  h5 { @extend .h5; }
  h6 { @extend .h6; }

  p {
    margin: em($em-base) 0;

  }

  #{$all-text-inputs},
  #{$all-button-inputs},
  #{$all-buttons} {
    border-radius: 0 !important;
    border-width: 2px !important;
  }

  a {
    @extend .link;
  }
}

/* Header block definition. */
header {
  margin-bottom: $marginBlock;

  #user-menu {
    background-color: $greyBackground;
    color: $white;
    z-index: 1000;

    @include user-select(none);

    .dropdown {
      display: inline-block;
      position: relative;
      cursor: default;

      .user.login {
        z-index: 1000;
        display: none;
        position: absolute;
        min-width: 200%;
        right: 0;
        top: 100% !important;
        text-align: left;
        background-color: $greyBackground;
        padding: $em-base;
        padding-top: 0;
        transition: width 2s;

        #login-top-form { color: inherit; }

        @include boxShadow(3px 3px 5px rgba($lightGreyBackground, 0.5));

        .input {
          margin-bottom: $marginElement;

          &:last-of-type { @extend .margin-no; }
        }

        p { margin: $em-base; }

        a.button { @extend .margin-no; }

        .rounded.photo {
          border-radius: 50%;
        }

        .vertical.menu {
          border-radius: 0;
          background-color: inherit;
          border: none;

          @include boxShadow(none);

          .item {
            color: $white;
          }
        }
      }

      &:hover .user.login {
        display: block;
      }
    }
    .buttons {
      float: right;
    }
  }

  #header {
    margin-top: em($em-base);
    padding: 0 em($paddingBlock);
    background-color: $white;

    img {
      display: block;
    }

    .company.label {
      b {
        font-size: modular-scale(1.3);
      }

      .description {
        display: inline-block;
        position: relative;
        margin-bottom: $em-base;

          span {
            display: block;
            position: absolute;
            right: 0;
            top: -100% !important;
            font-size: $em-base;
          }
      }
    }

    nav {
      z-index: 500;
      margin-top: $marginElement;
      border: none;
      box-shadow: none;

      .item {
        border-radius: 0;
        text-transform: uppercase;
        color: $blueText;
        line-height: modular-scale(1);

        @include transitionElement(background-color);

        &:hover {
          background-color: $redBackground;
          color: $white;
        }

        &.dropdown .menu {
          border-radius: 0 !important;

          & > .item {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

/* Footer block definition. */
footer {
  padding: $paddingBlock*2 0 $paddingBlock 0;
  background-color: $greyBackground;
  color: $white;

  .links.in.columns {
    column-count: 3;

    p {
      margin: 0;

      a:hover { color: $lightGreyTextBorder; }
    }
  }
}


.page {
  margin-top: $marginBlock;
  background-color: $white;
}

#main {
  h1, h2, h5, h6 {
    text-align: right;
  }

  #search-tabs {
    .ui.menu {
      border-bottom: none !important;
      min-height: em($em-base);
      background-color: $pageGreyBackground;

      .item {
        padding-top: em($em-base / 2);
        padding-bottom: em($em-base / 2);
        border: none !important;
        border-top-right-radius: $em-base !important;

        &:hover {
          background-color: $white;
        }
        &:active {
          color: $blackText !important;
        }
      }

      .active.item {
        background-color: $white;
      }

      .grey1 {
        background-color: $pageGreyBackground;
      }
      .grey2 {
        background-color: lighten($lightGreyBackground, 10%);
      }
      .grey3 {
        background-color: $lightGreyBackground;
      }
    }

    .tab {
      padding: 0 $paddingBlock $paddingBlock $paddingBlock;
      background-color: $white;

      @at-root {
        .dealers {
          column-gap: em($em-base/2);
          color: $blueText;

          @extend .h2;
          text-transform: capitalize;

          &.five.columns { column-count: 5; }
          &.three.columns { column-count: 3; }
          &.two.columns { column-count: 2; }

          a {
            text-decoration: none;

            &:hover { color: $blueTextHover; }

            span { font-size: em($em-base * 0.8); }
          }
        }
      }
    }
  }

  #banners {
    .carousel {
      position: relative;

      .static {
        z-index: 400;
        position: absolute;
        font-size: modular-scale(1);

        &.header {
          left: 0;
          top: 0;
          padding: $paddingElement;
          background-color: rgba($greyBackgroundHover, .5);

          border-bottom-right-radius: $em-base;
          -webkit-border-bottom-right-radius: $em-base;
        }

        &.count.cars {
          left: 0;
          bottom: 0;
          padding: $paddingElement;
          background-color: $white;
          color: $blueText;

          border-top-right-radius: $em-base;
          -webkit-border-top-right-radius: $em-base;
        }

        &.next.slide {
          right: 0;
          bottom: em(-$em-base);
          padding: $paddingElement*1.2 $paddingElement $paddingElement $paddingElement*1.7;
          cursor: pointer;
        }
      }

      .cell {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .flickity-page-dots {
        bottom: 5%;

        .dot {
          width: em($em-base);
          height: em($em-base * 1.2);
          background-color: $orangeText;
          border: 2px solid $white;
        }
      }

      button { display: none; }

      &:hover button { display: block; }
    }
  }

  .review.block {
    margin-top: $marginBlock;

    .read.more {
      color: $blueText;

      &:hover { color: $blueTextHover; }
    }
  }
}

/* Universal across-site definitions. */
.search.box {
  button > i.icon {
    margin-top: -.3em;
    margin-right: .5em;;
  }

  .fast.links {
    display: inline-block;
    position: relative;
    padding-top: $marginElement;
    font-size: em($em-base * 0.9);
    color: $greyText;
    background-color: $white;

    a {
      display: inline-block;
      margin: 0 $marginElement $marginElement 0;

      &:hover {
        color: $lightGreyTextBorder;
      }
    }

    .first.line {
      position: relative;

      .items {
        overflow: hidden;
        width: 90%;
        height: 1.5em;
        margin-bottom: $marginElement;

        a {
          display: inline;

          &:first-of-type {
            margin-left: $marginElement;
          }
        }
      }

      i {
        position: absolute;
        right: em($em-base);
        top: 0;

        @include transitionElement(transform);

        &:before {
          font-size: em($em-base * 1.5);
          vertical-align: bottom;
        }
      }
    }

    .rest.links {
      z-index: 400;
      display: none;
      position: absolute;
      right: 0;
      top: 100% !important;
      padding: $paddingElement;
      padding-top: 0;
      background-color: $white;

      @include transitionElement(display);
    }

    &:hover {
      @include boxShadow(3px 3px 5px rgba($lightGreyBackground, 0.5));

      i {
        transform: rotate(-90deg);
      }

      .rest.links {
        display: block;

        @include boxShadow(3px 3px 5px rgba($lightGreyBackground, 0.5));
      }
    }
  }

}

.card {
  overflow: hidden;

  a {
    text-decoration: none !important;

    &:hover { color: inherit; }

    &:active { color: inherit; }
  }

  p {
    margin: 0 0 0 0;
    margin-top: em($em-base / 2);
  }

  .name {
    color: $blueText;

    @extend .h3;
    text-transform: inherit;
  }

  .price {
    float: left;
    color: $blueText;

    @extend .h3
  }

  .watchlist {
    visibility: hidden;
    float: right;
    font-weight: bold;
    color: $orangeText;
    text-decoration: underline;
    font-size: em($em-base * 1.2);

    &:hover { color: $orangeTextHover; }
  }

  &:hover .watchlist {
    visibility: visible;
  }

  &.mobile.transform {

  }
}

.review.block {
  .stars {
    /* the default rating is placed as a background image in the ul */
    /* use the background position according to the table above to display the required images*/
    .rating{
      width: 80px;
      height: 16px;
      margin: 0 0 20px 0;
      padding: 0;
      list-style: none;
      clear: both;
      position: relative;
      background: url(../img/star-matrix.gif) no-repeat 0 0;

      /* add these classes to the ul.rating to effect the change to the correct number of stars */
      &.nostar { background-position: 0 0; }
      &.onestar { background-position: 0 -96px; }
      &.twostars { background-position: 0 -112px; }
      &.threestars { background-position: 0 128px; }
      &.fourstars { background-position: 0 -144px; }
      &.fivestars { background-position: 0 160px; }

      & .star {
        cursor: pointer;
        /*ie5 mac doesn't like it if the list is floated\*/
        float: left;
        /* end hide*/
        text-indent: -999em;

        a {
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          text-decoration: none;
          z-index: 200;
        }

        &.one a { left: 0; }
        &.two a { left: 16px; }
        &.three a { left: 32px; }
        &.four a { left: 48px; }
        &.five a { left: 64px; }

        & a:hover {
          z-index: 2;
          width: 80px;
          height: 16px;
          overflow: hidden;
          left:0;
          background: url(../img/star-matrix.gif) no-repeat 0 0;
        }

        &.one a:hover { background-position: 0 -16px; }
        &.two a:hover { background-position: 0 -32px; }
        &.three a:hover { background-position: 0 -48px; }
        &.four a:hover { background-position: 0 -64px; }
        &.five a:hover { background-position: 0 -80px; }
      }
    }
  }
}

.facebook.block {
  $size: em($em-base * 3);

  display: flex;
  float: right;
  min-height: $size;

  .name {
    @extend .h2;
    text-transform: capitalize;
    font-weight: bold;
  }

  i {
    display: block;
    color: $blueText;
    line-height: $size;
    width: $size;
    height: $size;

    &:before {
      font-size: $size;
    }
  }
}

.video.block {
  h2 {
    margin-bottom: $marginElement / 2;
  }
}

.slider.block {
  .carousel {
    &.gallery {
      z-index: 100;

      button { visibility: hidden; }

      &:hover button { visibility: visible; }
    }

    &.thumbnails {
      z-index: 99;
      margin-top: em(-$marginElement);

      .cell {
        width: 150px;
        height: auto;

        .cover {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($blueTextHover, .6);
        }

        &.is-nav-selected .cover {
          display: none;
        }
      }
    }
  }
}

#last-recommended {
  padding: $paddingElement;
}

// browser upgrade
.browserupgrade {
  margin: 0.2em 0;
  background: yellow;
  color: #000;
  padding: 0.2em 0;
}
