//-
   Created by Royal PR (Paul Burilichev) on 08-Aug-16.

    This is a head section of an every web page.

head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')

    //- This has to be title of a page
    block pageTitle

    link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
    // Place favicon.ico in the root directory

    link(rel='stylesheet', href=cssPath + 'final.min.css')
    script(src=jsPath + 'modernizr.min.js')