//-
   Created by Royal PR (Paul Burilichev) on 08-Aug-16.

    This is a header of every page.

header
    #user-menu
       .ui.container
            .ui.right.aligned.grid
                .sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.four.wide.large.screen.four.wide.widescreen.right.floated.column.padding-no-bottom
                    .dropdown
                        a.button.small.transparent.text.yellow.margin-no Log in / Register
                        .user.login
                            form#login-top-form
                                p Log in
                                .ui.fluid.icon.input
                                    input(type='text', placeholder='Username/Email' required)
                                    i.asterisk.icon(class='red text')
                                .ui.fluid.icon.input
                                    input(type='password', placeholder='Your password' required)
                                    i.asterisk.icon(class='red text')
                                p: a(href='#') Forgot password?
                                a.small.fluid.green.button Log in

                            .ui.horizontal.divider.text.white Or

                            p.h1 Hey cats,
                            p.
                                Here some text about registration and how cool it can be if you have done this.
                            a.small.fluid.red.button
                                i.plus.icon
                                strong Sign up

                            .ui.horizontal.divider.text.white.h3 This after login

                            //- PLACE THIS INSTEAD OF LOGIN FORM AFTER USER AUTHORIZATION
                            .profile.info
                                .ui.grid
                                    .six.wide.column.padding-no-right
                                        img.rounded.photo.fluid.block(src='img/profile-photo.jpg')
                                    .ten.wide.column.padding-no-left
                                        p.name Frank
                                        p.surname Sinatra
                                        p.login japanese
                                .ui.vertical.menu.fluid.block
                                    a(href='#').item account settings
                                    a(href='#').item other list
                                    a(href='#').item other products
                                    a(href='#').item other
                                p.right.text
                                    i.sign.out.icon
                                    a(href='#') log out

                    a.button.small.transparent.text.white.margin-no.
                        Contact Us
    #header
        .ui.container
            .ui.mobile.vertically.reversed.tablet.vertically.reversed.computer.vertically.reversed.grid
                .row
                    .sixteen.wide.computer.seven.wide.large.screen.seven.wide.widescreen.column
                        .ui.grid
                            .bottom.aligned.row.padding-no-bottom

                                // LOGOTYPE
                                .logo.three.wide.tablet.three.wide.computer.five.wide.large.screen.five.wide.widescreen.column.padding-no
                                    a.item(href='index.html'): img(src='img/logo-small.png')
                                .logo.eight.wide.tablet.eight.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column.padding-no
                                    a.item(href='index.html')
                                        .company.label
                                            b.text.uppercase japan partner
                                            h4.description.text.grey japanese used car exporter
                                                span.text.right.light.grey.lowercase.mobile.or.lower.hidden since 2003

                                //.micro-mobile.only.mobile.only.tablet.only.computer.only.facebook.wrapper.block
                                //    include _component_facebook

                    .sixteen.wide.computer.nine.wide.large.screen.nine.wide.widescreen.column
                        nav.ui.four.item.small.menu
                            .ui.dropdown.item Complete pages
                                .menu
                                    .triangle.centered.block
                                    a.item(href='index.html') Main page
                                    a.item(href='stocklist.html') Stocklist
                                    a.item(href='stockcar.html') Stock Car
                                    a.item(href='auctioncar.html') Auction Car
                                    a.item(href='registration.html') Registration
                                    a.item(href='profile.html') Profile
                                    a.item(href='blogpage.html') Blog page
                            - for(var i = 1; i < 4; i++)
                                a.ui.dropdown.item Menu Menu #{i+1}

