//-
   Created by Royal PR (Paul Burilichev) on 14-Aug-16.

   Tip's template

.tip.border.bottom.px.block
    h3 Are you car dealer?
    p If you look for reliable supplier of japanese used cars for your business we can offer you most competitive conditions.
    p: .clearfix
        a.read.more.right.floated.block Read more reviews

