//-
   Created by Royal PR (Paul Burilichev) on 13-Aug-16.

   The chunk of a car card, which transformed from vertical to horizontal on mobile phones

.car.mobile.transform.card
    a.image(href='#')
        .img-clip-4by3
            img(src=imgPath + 'auto1.jpg')
    a(href='#')
        p.name: b Car name name, 2000
        p.desc Stock no 26780, BNR34, MT, 4WD, 2600cc, Rb26, Turbo 65000km
    .wrapper
        p.price $3000
        p.watchlist: a(href='#') add to watchlist