//-
   Created by Royal PR (Paul Burilichev) on 08-Aug-16.

    Footer of an every page of the website.

block footer


    block footerscripts
        // here concatenated all scripts, include jquery
        script(src='../../public/js/alljs.min.js'.substr(13))