//-
   Created by Royal PR (Paul Burilichev) on 14-Aug-16.

    Chunk of news, which mobile transformed to horizontal view.

.news.mobile.transform.card
    a.image(href='#')
        .img-clip-4by3
            img(src='img/auto3.jpg')
    a(href='#')
        p.name: b Sports car
        p.desc Since foundation our main specialization was sports cars for enthusiasts. Since then one experience in sourcing these cars is exceptional
