//-
   Created by Royal PR (Paul Burilichev) on 22-Aug-16.
    http://rpr.by

    Template for a currency menu.

.currency.block
    table
        tr
            td Choose preferable currency:&nbsp;
            td
                .ui.small.menu
                    .ui.dropdown.item
                        img(src='img/flag-us.png')
                        | $ USD
                        i.icon.caret.down
                        .menu.dropped
                            a.item(href='#')
                                img(src='img/flag-eu.png')
                                | € EUR
                            a.item(href='#')
                                img(src='img/flag-gb.png')
                                | £ GBP
                            a.item(href='#')
                                img(src='img/flag-jp.png')
                                | ¥ JPY

//.currency.block
//    .inline.block Choose preferable currency:
//    .inline.block
//        .ui.small.menu
//            .ui.dropdown.item
//                img(src='img/flag-us.png')
//                | $ USD
//                i.icon.caret.down
//                .menu.dropped
//                    a.item(href='#')
//                        img(src='img/flag-eu.png')
//                        | € EUR
//                    a.item(href='#')
//                        img(src='img/flag-gb.png')
//                        | £ GBP
//                    a.item(href='#')
//                        img(src='img/flag-jp.png')
//                        | ¥ JPY