//-
   Created by Royal PR (Paul Burilichev) on 05-Nov-16.
    http://rpr.by

.ui.simple.dropdown
    .title Name of day
    i.dropdown.icon
    .menu
        .item: .ui.checkbox #[input#checkbox1(type='checkbox' checked)] #[label(for='checkbox1') checkbox3]
        .item: .ui.checkbox #[input#checkbox2(type='checkbox' checked)] #[label(for='checkbox2') checkbox3]

        .item: .ui.checkbox #[input#checkbox3(type='checkbox' checked)] #[label(for='checkbox3') checkbox3]