//-
   Created by Royal PR (Paul Burilichev) on 16-Aug-16.

    The template for the car from the stocklist.

.car
    .img.left.floated.overflow.block
        .img-clip-4by3
            img(src='img/auto6.jpg')
        //.indicator.large.screen.hidden.widescreen.hidden sold
    .name Nissan skyline GT-R
    .stockno Stock No:
        span 26667
    .characteristics
        table.table
            tr
                td
                    table
                        tr
                            td.type Year
                            td.value 2002
                        tr
                            td.type Mileage, miles
                            td.value 30000
                        tr
                            td.type Mileage, km
                            td.value 65000
                td
                    table
                        tr
                            td.type Type
                            td.value BNR34
                        tr
                            td.type Engine
                            td.value RB26
                        tr
                            td.type Displ.
                            td.value 2600cc
                td
                    table
                        tr
                            td.type Turbo
                            td.value Yes
                        tr
                            td.type 4WD
                            td.value Yes
                        tr
                            td.type Steering
                            td.value Right


    .price
        a(href='').watchlist add to watchlist
        |$40000
        .accessibility.yes Available
        //.accessibility.no.largde.screen.only.widescreen.only sold
