//-
   Created by Royal PR (Paul Burilichev) on 08-Aug-16.

- var pubDir = '../../public/';
- var cssPath =  pubDir.concat('css/').substr(13);
- var jsPath = pubDir.concat('js/').substr(13);
- var imgPath = pubDir.concat('img/').substr(13);