//-
   Created by Royal PR (Paul Burilichev) on 18-Aug-16.
    http://rpr.by

    ILE DESCRIPTION: This is blog's page template.

extends _layoutBase

block pageTitle
    title This is a blog page

block allContent
    #blogpage
        .ui.container.page

            // BREADCRUMBS
            .breadcrumbs.block
                ul.path
                    li: a(href='#') Japanese used cars
                    li.active: a(href='#') Nissan

            .ui.grid.border
                .row
                    .sixteen.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column.padding-no-by-side.mobile

                        // CONTENT
                        .content.padded.block
                            h1 nissan skyline for sale
                            p RO-RO shipment is the most convenient and usually cheapest option. Available for the most major port.
                            p Containerized shipment is an option when RO-RO shipment isn’t available, but is usually more expensive if you buy just one vehicle. If you buy more than one vehicle we can fit 2 small cars in one 20ft container and 3-4 cars in one 40ft container. If you are wholesale buyer shipment in containers may be even more profitable.
                            .video.block
                                h2 NISSAN SKYLINE  GT-R TWIN TURBO, STOCK NO 26400, VIDEO
                                .video-container
                                    .video-container-4x3
                                        iframe(src="https://www.youtube.com/embed/RFs3BiiNOZ8" allowfullscreen)
                            p
                                a.h2.block heading link
                                |If you buy cars for parts to be dismantled, tractors, forklifts and other machinery, containerized shipment is the only available option.
                            p #[a(href='#') Inline link] at our website and shipment will be calculated automatically for the port you

                            h2 forms
                            .centered.form
                                .stock.search.overflow.block
                                    form
                                        .row
                                            label(for='make') make
                                            select(id='make')
                                                +formix(1,20,'<option>my Make</option>')
                                        .row
                                            label(for='no') Chassis no
                                            input#no
                                        button.ui.icon.button.green.text.uppercase.right.floated.block
                                            i.search.icon
                                            | Search
                            .centered.form
                                .user.form.block
                                    form.overflow.block
                                        .ui.fluid.icon.input
                                            label(for='uaddress') Your address
                                            input#uaddress(type='text' placeholder='Type your address' required)
                                        .ui.fluid.icon.input
                                            label(for='ucity') Your city
                                            input#ucity(type='text' placeholder='Type your city' required)
                                            i.ui.asterisk.icon
                                        button.ui.icon.button.green.text.uppercase.right.floated.block
                                            i.search.icon
                                            | Search
                            .user.form.block
                                form
                                    .ui.fluid.input
                                        label(for='companyname') Company name
                                        input#companyname(type='text' placeholder='Type your company name')
                                    .ui.fluid.icon.input
                                        label(for='uname') First name
                                        input#uname(type='text' placeholder='Type your first name' required)
                                        i.ui.asterisk.icon
                                    button(type='submit') submit

                            img.fluid.block(src='img/auto6.jpg' data-lity)

                            p RO-RO shipment is the most convenient and usually cheapest option. Available for the most major port.

                            table.ui.striped.selectable.very.compact.table
                                thead
                                    tr
                                        th Name
                                        th Status
                                        th Another name
                                        th Notes
                                tbody
                                    tr
                                        td Jamie
                                        td Approved
                                        td Approved
                                        td Requires call
                                    +formix(1,19,'<tr><td>Jamie</td><td>Approved</td><td>Approved</td><td>Requires call</td></tr>')

                                    p Containerized shipment is an option when RO-RO shipment isn’t available, but is usually more expensive if you buy just one vehicle. If you buy more than one vehicle we can fit 2 small cars in one 20ft container and 3-4 cars in one 40ft container. If you are wholesale buyer shipment in containers may be even more profitable.
                            include _component_gallery_with_thumbnails
                            p
                                a.h2.block heading link
                                | If you buy cars for parts to be dismantled, tractors, forklifts and other machinery, containerized shipment is the only available option.
                            p #[a(href='#') Inline link] at our website and shipment will be calculated automatically for the port you

                    .five.wide.column.computer.or.lower.hidden
                        .padded.block
                            // GALLERY TOP
                            include _component_simple_slider
                            include _component_facebook

                            // STOCK SEARCH
                            .inline.block
                                include _component_stock_search

                            // REVIEW
                            .review.block
                                .overflow.block
                                    .stars.left.floated.block
                                        ul.rating.fourstars
                                            li.one.star
                                                a(href='#' title='1 Star') 1
                                            li.two.star
                                                a(href='#' title='2 Stars') 2
                                            li.three.star
                                                a(href='#' title='3 Stars') 3
                                            li.four.star
                                                a(href='#' title='4 Stars') 4
                                            li.five.star
                                                a(href='#' title='5 Stars') 5
                                    .head.right.floated.block
                                        .h2 Recent reviews
                                .h2.capitalize.text.block.name Peter Jackson Habayashi-sugi, USA
                                p «I vouch for what they say (about condition and pre-shipment inspection). I have a GTO from them and when I was to change all fluids, it was all clear. The transaction was as smooth as it could be. 5 stars»
                                .overflow.block
                                    a.read.more.left.floated.block Read more reviews

            .border.bottom.px.margin-no.block

            include _component_last_recommend