//-
   Created by Royal PR (Paul Burilichev) on 04-Aug-16.

extends _layoutBase

block pageTitle
    title.
        This is a main page

block allContent
    #main.ui.container.page
        #search-tabs
            .ui.top.attached.tabular.menu
                a.grey1.active.item(data-tab='usedcars') used cars
                a.grey2.item(data-tab='machinery') machinery
                a.grey3.item(data-tab='sorted') sorted

            .ui.bottom.attached.tab.active(data-tab='usedcars')
                .ui.middle.aligned.padded.grid
                    .row
                        .sixteen.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column

                            //- DEALIERS ON TOP TAB
                            .five.columns.dealers
                                - for (var i = 1; i < 25; i++)
                                    p: a(href='#') NameName #[span 3215]

                        .sixteen.wide.computer.five.wide.large.screen.five.wide.widescreen.column

                            //- SEARCH ON TOP TAB
                            .search.box
                                .ui.fluid.action.input
                                    input(type='text' placeholder='search by model, name or stock number')
                                    a.ui.icon.button.small.green.text.uppercase
                                        i.search.icon
                                        | Search

                                //- FAST SEARCH LINKS
                                .fast.links.fluid.block
                                    .first.line
                                        .items
                                            - for (var i = 1; i < 4; i++)
                                                a(href='#') Car Name #{i}
                                        i.caret.right.icon

                                    .rest.links
                                        - for (var i = 1; i < 17; i++)
                                            a(href='#') Car Name #{i}
                                        b: a.fluid.block.centered.text.margin-no(href='#') Most popular japanese used cars

            .ui.bottom.attached.tab(data-tab='machinery') data2
            .ui.bottom.attached.tab(data-tab='sorted') data3

        #banners
            .carousel
                .static.header.text.white.tablet.or.lower.hidden Japanese used sports car exporter
                .static.count.cars: b 4320 cars in stock today
                .static.next.slide.green.button.text.uppercase.mobile.or.lower.hidden Click to slide
                    i.angle.double.right.icon
                - for (var i = 1; i <= 5; i++)
                    .cell: img(src=imgPath + 'mainp_big-banner.jpg')


        .ui.padded.vertical.divided.grid
            .sixteen.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column

                //- USED CARS LIST
                .cars.list.block.border.bottom.px
                    h1 japanese used cars.
                        span.red.text new stock arrival
                    .ui.three.column.stackable.grid
                        - for (var i = 1; i <= 6; i++)
                            .column
                                include _component_car_vertical_card_mobile_transform
                    .centered.blue.h4.lowercase.text.fluid.margined.block
                        a(href='#') view all used cars stock (4526)...

                //- BLOG LIST
                .news.list.block
                    h2 USED CARS OF SPECIAL INTEREST
                    .ui.three.column.stackable.grid
                        - for (var i = 1; i <= 3; i++)
                            .column
                                include _component_news_vertical_card_mobile_transform

            .sixteen.wide.computer.five.wide.large.screen.five.wide.widescreen.column

                //- REVIEW
                .review.block.border.bottom.px
                    .overflow.block
                        .stars.left.floated.block
                            ul.rating.fourstars
                                li.one.star
                                    a(href='#' title='1 Star') 1
                                li.two.star
                                    a(href='#' title='2 Stars') 2
                                li.three.star
                                    a(href='#' title='3 Stars') 3
                                li.four.star
                                    a(href='#' title='4 Stars') 4
                                li.five.star
                                    a(href='#' title='5 Stars') 5
                        .head.right.floated.block
                            .h2 Recent reviews
                    .h2.capitalize.text.block.name Peter Jackson Habayashi-sugi, USA
                    p «I vouch for what they say (about condition and pre-shipment inspection). I have a GTO from them and when I was to change all fluids, it was all clear. The transaction was as smooth as it could be. 5 stars»
                    .overflow.block
                        a.read.more.left.floated.block Read more reviews
                        .large.screen.only.widescreen.only
                            include _component_facebook

                //- TIPS
                .tips.block.margin-no-by-side.mobile.only
                    - for (var i = 1; i <= 4; i++)
                        include _component_tip

                //- VIDEO
                .video.block
                    h2 JAPANESE USED CARS FOR SALE. VIDEO
                    .video-container
                        .video-container-16x9
                            iframe(src="https://www.youtube.com/embed/RFs3BiiNOZ8" allowfullscreen)


        //- SUPPLIER SINCE 2003
        .super.heading.block supplier since 2003

        .ui.padded.vertical.divided.grid

            //- INDUSTRIAL CARS
            .sixteen.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column
                .cars.list.block
                    h2 USED INDUSTRIAL AND AGRICULTURE MACHINERY AND EQUIPMENT
                    .ui.three.column.stackable.grid
                        - for (var i = 1; i <= 3; i++)
                            .column
                                include _component_car_vertical_card_mobile_transform
                    .centered.blue.h4.lowercase.text.fluid.margined.block
                        a(href='#') view all machinery stock (4526)...

            //- INDUSTRIAL DEALERS
            .sixteen.wide.computer.five.wide.large.screen.five.wide.widescreen.column
                .two.columns.dealers
                    - for (var i = 1; i < 10; i++)
                        p: a(href='#') NameName #[span 3215]
                .description
                    p We are experienced in sourcing used folklifts tractors, harversters, bulldozers, wheel ans skid loaders, and other agreecultura, construction and industrial machinery.
                    p As these types of machinery can be exported only in containers it is important that exporter must have all needed licenses, loading container facilities, and experience.
                    p Purchasing these vehicles from our company will result in less expenses in logistics and shipping cost

        //- WHY US
        .super.heading.block why us

        .ui.padded.vertical.divided.grid.border.bottom.px.block.padding-no-by-side.mobile.only

            //- TIPS WHY US
            .sixteen.wide.computer.five.wide.large.screen.five.wide.widescreen.column
                .tips
                    - for (var i = 1; i <= 4; i++)
                        include _component_tip
                .ui.grid
                    .four.wide.column.padding-no
                        .h3.centered.text.blue.background.margined.padded.fluid.block BLOG NEWS
                    .eleven.wide.right.floated.column
                        p.margin-no-top: a(href='#') Sneek Peek: Japan Partner’s Nissan Skyline stock photosoot...
                        p.margin-no-top: a(href='#') From Europe with love: The best used european cars from Japan

            //- GALLERY
            .sixteen.wide.computer.eleven.wide.large.screen.eleven.wide.widescreen.column.padding-no-top
                .h2.right.text japanese used cars gallery
                include _component_gallery_with_thumbnails

        #last-recommended
            h5 last viewed vechicles
            .ui.centered.stackable.grid.border.bottom.px.block
                - for (var i = 1; i <= 3; i++)
                    .five.wide.computer.four.wide.large.screen.four.wide.widescreen.column
                        include _component_car_vertical_card_mobile_transform
                .four.wide.large.screen.four.wide.widescreen.column.computer.or.lower.hidden
                    include _component_car_vertical_card_mobile_transform
            h5 recommended used cars
            .ui.centered.stackable.grid.border.bottom.px.block
                - for (var i = 1; i <= 3; i++)
                    .five.wide.computer.four.wide.large.screen.four.wide.widescreen.column
                        include _component_car_vertical_card_mobile_transform
                .four.wide.large.screen.four.wide.widescreen.column.computer.or.lower.hidden
                    include _component_car_vertical_card_mobile_transform